html, body{
    margin: 0px;
    background-color: black;
    font-family: "SF Pro Display";
    color: white;
}
.überschrift{

    font-weight: bold;

    height: 100%;
    width: 100%;
    font-size: 6cm;
    text-align: center;
}
.Logo{
    position: absolute;
    top: 1%;
    right: 1%;

}
.bar{
    height: 7px;
    width: 50px;
    margin: 7px;
    background-color: white;
}
.Menu{
    position: fixed;
    top: 10px;
    left: 10px;
}
.line{
    height: 2px;
    width: 80%;
    background-color: white;
    position: absolute;
    top: 60%;
    left: 10%



}
.ueber{
    position: absolute;
    top: 100%;
    left: 10%;
    font-size: 2cm;
    font-weight: 600;




}
.Text {

    position: absolute;
    left: 50%;
    right: 10%;
    top: 130%;
    text-align: inherit;
    font-size: x-large;
    font-weight: 400;

}




