html, body{
    font-family: "SF Pro Display";
    font-weight: 800;
    color: white;
    background-color: #090909;


}

.ueberschrift{
    text-align: center;
    font-size: 3cm;

}
.text{
    font-size: 1cm;
    font-weight: 500;
    text-align: justify;
    text-align: center;
    margin-left: 1cm;
    margin-right: 1cm;

}
.mail{
    font-size: 0.5cm;
    text-align: center;
    font-weight: 200;

}